.root {
  --transition: 0.1s ease-in;

  align-items: center;
  background-color: var(--color-brand);
  border-radius: 6px;
  color: var(--color-white);
  display: inline-flex;
  padding: var(--spacing-default) var(--spacing-large-1x);
  text-align: left;
  transition: background-color var(--transition);
}

.root:focus:not([disabled]),
.root:hover:not([disabled]) {
  background-color: var(--color-brand-dark);
}

.root[disabled] {
  opacity: 0.6;
}

.isLoading {
  font-style: italic;
}

.root svg {
  margin-right: var(--spacing-default);
  pointer-events: none;
  transition: color var(--transition);
  width: 1.43rem;
}

.root:focus:not([disabled]) svg,
.root:hover:not([disabled]) svg {
  color: greenyellow;
}
