/* Let's keep global styles to a minimum and instead favour components */

/**
 * Tokens.
 *
 * NOTE: Custom properties should be reserved for when they need to be dynamic
 * in the browser but Create React App (CRA) doesn't allow a PostCSS config
 * (yet) meaning you can't implement static variables via a plugin such as
 * postcss-simple-vars. CRA supports Sass but I'd rather not introduce a heavy
 * pre-processor just for static variables especially as Sass can make for
 * slower build times. Considering all of this I'm OK to use custom properties
 * for all tokens. My standard approach however, is to define tokens in JS where
 * I can import them into CSS using postcss-simple-vars.
 */

:root {
  --color-body-copy: #333;
  --color-brand: #0075d8;
  --color-brand-dark: #0b6aba;
  --color-link: #1313ed;
  --color-page-bg: #f5f5f5;
  --color-subtle-text: #615b4f;
  --color-white: #fff;
  --spacing-small-1x: 0.5rem;
  --spacing-small-2x: 0.25rem;
  --spacing-default: 1rem;
  --spacing-large-1x: 1.5rem;
  --spacing-large-2x: 2.5rem;
}

html {
  color: var(--color-body-copy);
  margin: var(--spacing-small-1x);
}
